
body {
  background-color: white;
  background-image:url("image/bk.png");
  width: 100%;
  background-size: cover;
  }


p {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 55px;
    margin-top: 90px;
    margin-left: 230px;
    z-index: auto;
    opacity: 0.8;
  }
p:hover{
  color: purple;
}

  h1 {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 20px;
  color:rgb(69, 80, 99);
}

h1:hover{
  color:blue;
}

h2 {
font-family: 'Averia Serif Libre', cursive;
font-size: 25px;
color:rgb(69, 80, 99);
}


h2:hover{
  color:red;
}

h3 {
font-family: 'Averia Serif Libre', cursive;
font-size: 25px;
line-height: 1.4;
color:rgb(96, 84, 21);
opacity: 0.6;
}


h3:hover{
  color:blue;
}

.name{

}

.name:hover{
}

.code{
margin-left: 270px;
}

.code:hover{
  color:silver;
}

.code2{
margin-left: 270px;
}

.code2:hover{
  color:gold;
}

.code3{
  margin-top: 180px;
    margin-left: 240px;
}

.code3:hover{
  color:gold;
}

.code4{
  margin-left: 1100px;
}

.code4:hover{
  color:blue;
}

.code5{
    margin-left: 1100px;
}

.code5:hover{
  color:red;
}

@media screen and (max-width:850px){
body{
    background-image:850px;
    font-size: 25px;
    display: block;
    background-size: 650px;
    width: 350px;

  }

p{
  font-size: 50px;
  margin-left: 20px;
  display: flex;
  margin-top:10px;
}

h2{
  font-size: 20px;
  margin-top: 40px;

}
h1{
  font-size: 18px;

}
.code{
  margin-left: 20px;
}

.code2{
  margin-left: 20px;
}


.code3{
  margin-top: 20px;
  margin-left: 20px;

}
.code3:hover{
  margin-top: 20px;
  margin-left: 20px;
  color: blue;


}

.code4{
    margin-left: 20px;
}


.code5{
    margin-left: 20px;
      color:red;
}
.code5:hover{

}
}

#mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
}
